@charset "utf-8";

/* common S */
/* .veal-mid { display: inline; vertical-align: middle; } */
.linehe-50 { line-height: 50px; }
.line-bo { border-bottom: 1px solid #333;}
/* common E */

/* flex S */
.flex { display: flex; }
.juco-spar { justify-content: space-around; }
.juco-spbe { justify-content: space-between; }
.flde-col { flex-direction: column; }
/* flex E */

.my { border: 2px solid red; }

